In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

<h3>Combined Bowling</h3>

In [24]:
combined_bowling = pd.concat([odi_ball, t20I_ball, test_ball], ignore_index=True)

In [25]:
combined_bowling['Type'] = 'Bowling'

In [26]:
combined_bowling

,Player,TimeSpan,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,...,SR,4,5,Ct,St,Country,Format,BBM,10,Type
0,Rehan Ahmed,2023-2023,1,1,10.0,0,62,1,1/62,62.00,...,60.0,0,0,1,0,England,ODI,NaN,NaN,Bowling
1,MM Ali,2014-2023,129,119,934.2,13,4940,99,4/46,49.89,...,56.6,1,0,42,0,England,ODI,NaN,NaN,Bowling
2,JC Archer,2019-2023,21,21,189.5,14,913,42,6/40,21.73,...,27.1,0,1,6,0,England,ODI,NaN,NaN,Bowling
3,JM Bairstow,2011-2022,95,-,-,-,-,-,-,-,...,-,-,-,48,3,England,ODI,NaN,NaN,Bowling
4,SW Billings,2015-2022,28,-,-,-,-,-,-,-,...,-,-,-,19,1,England,ODI,NaN,NaN,Bowling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,Taijul Islam,2014-2022,40,70,1822.5,314,5520,166,8/39,33.25,...,65.8,NaN,10,20,0,Bangladesh,Test,11/170,1,Bowling
1283,Tamim Iqbal,2008-2022,69,5,5.0,0,20,0,-,-,...,-,NaN,0,19,0,Bangladesh,Test,-,0,Bowling
1284,Taskin Ahmed,2017-2022,12,22,394.1,65,1460,26,4/82,56.15,...,90.9,NaN,0,1,0,Bangladesh,Test,5/128,0,Bowling
1285,Yasir Ali,2021-2022,6,2,7.0,0,35,0,-,-,...,-,NaN,0,5,0,Bangladesh,Test,-,0,Bowling
1286,Zakir Hasan,2022-2022,2,-,-,-,-,-,-,-,...,-,NaN,-,0,0,Bangladesh,Test,-,-,Bowling

In [27]:
# export the combined DataFrame to a CSV file
combined_bowling.to_csv('combined_bowling.csv', index=False)

<h3>ODI</h3>

In [20]:
country_id_dict = {2: 'Australia',6: 'India',5: 'New Zealand',1: 'England',7: 'Pakistan',3: 'South Africa',25: 'Bangladesh',8: 'Sri Lanka',4: 'West Indies',40: 'Afghanistan',29: 'Ireland',30: 'Scotland',9: 'Zimbabwe', 15: 'Netherlands',32: 'Nepal',  37: 'Oman',28: 'Namibia',11: 'United States',27: 'United Arab Emirates', 20: 'Papua New Guinea'}

country_ID_list = [1,2,3,4,5,6,7,8,9,20,25,27,28,29,30,32,37,40]

odi_ball = pd.DataFrame(columns=['Player','TimeSpan','Mat','Inns','Overs','Mdns','Runs','Wkts',
                                   'BBI','Ave','Econ','SR','4','5','Ct','St','Country'])

for country_id in country_ID_list:
    url = f'https://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?class=2;current=2;id={country_id};type=team'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find_all('table')[0]
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        data = row.find_all('td')
        if len(data) > 0:
            player = data[0].get_text().strip()
            span = data[1].get_text().strip()
            mat = data[2].get_text().strip()
            inns = data[3].get_text().strip()
            Overs = data[4].get_text().strip()
            Mdns = data[5].get_text().strip()
            Runs = data[6].get_text().strip()
            Wkts = data[7].get_text().strip()
            BBI = data[8].get_text().strip()
            Ave = data[9].get_text().strip()
            Econ = data[10].get_text().strip()
            SR = data[11].get_text().strip()
            four = data[12].get_text().strip()
            five = data[13].get_text().strip()
            ct = data[14].get_text().strip()
            st = data[15].get_text().strip()

            country_name = country_id_dict[country_id]

            row_data = {'Player': player, 'TimeSpan': span, 'Mat': mat, 'Inns': inns, 'Overs': Overs, 
                        'Mdns': Mdns, 'Runs': Runs, 'Wkts': Wkts, 'BBI': BBI, 'Ave': Ave, 
                        'Econ': Econ, 'SR': SR, '4': four, 
                        '5': five, 'Ct': ct, 'St': st, 'Country': country_name}
            odi_ball = pd.concat([odi_ball, pd.DataFrame(row_data, index=[0])], ignore_index=True)
            odi_ball['Format'] = 'ODI'

In [21]:
odi_ball

,Player,TimeSpan,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Ct,St,Country,Format
0,Rehan Ahmed,2023-2023,1,1,10.0,0,62,1,1/62,62.00,6.20,60.0,0,0,1,0,England,ODI
1,MM Ali,2014-2023,129,119,934.2,13,4940,99,4/46,49.89,5.28,56.6,1,0,42,0,England,ODI
2,JC Archer,2019-2023,21,21,189.5,14,913,42,6/40,21.73,4.80,27.1,0,1,6,0,England,ODI
3,JM Bairstow,2011-2022,95,-,-,-,-,-,-,-,-,-,-,-,48,3,England,ODI
4,SW Billings,2015-2022,28,-,-,-,-,-,-,-,-,-,-,-,19,1,England,ODI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Riaz Hassan,2022-2022,3,-,-,-,-,-,-,-,-,-,-,-,0,0,Afghanistan,ODI
499,Shahidullah,2022-2022,1,1,3.0,0,16,0,-,-,5.33,-,0,0,1,0,Afghanistan,ODI
500,Sharafuddin Ashraf,2014-2022,19,19,141.2,4,605,13,3/29,46.53,4.28,65.2,0,0,5,0,Afghanistan,ODI
501,Usman Ghani,2014-2022,17,2,6.2,0,34,1,1/21,34.00,5.36,38.0,0,0,3,0,Afghanistan,ODI
502,Yamin Ahmadzai,2015-2022,9,8,56.4,4,304,7,2/34,43.42,5.36,48.5,0,0,4,0,Afghanistan,ODI

<h3>T20I</h3>

In [22]:
country_id_dict = {2: 'Australia',6: 'India',5: 'New Zealand',1: 'England',7: 'Pakistan',3: 'South Africa',25: 'Bangladesh',8: 'Sri Lanka',4: 'West Indies',40: 'Afghanistan',29: 'Ireland',30: 'Scotland',9: 'Zimbabwe', 15: 'Netherlands',32: 'Nepal',  37: 'Oman',28: 'Namibia',11: 'United States',27: 'United Arab Emirates', 20: 'Papua New Guinea'}

country_ID_list = [1,2,3,4,5,6,7,8,9,20,25,27,28,29,30,32,37,40]

t20I_ball = pd.DataFrame(columns=['Player','TimeSpan','Mat','Inns','Overs','Mdns','Runs','Wkts',
                                   'BBI','Ave','Econ','SR','4','5','Ct','St','Country'])

for country_id in country_ID_list:
    url = f'https://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?class=3;current=2;id={country_id};type=team'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find_all('table')[0]
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        data = row.find_all('td')
        if len(data) > 0:
            player = data[0].get_text().strip()
            span = data[1].get_text().strip()
            mat = data[2].get_text().strip()
            inns = data[3].get_text().strip()
            Overs = data[4].get_text().strip()
            Mdns = data[5].get_text().strip()
            Runs = data[6].get_text().strip()
            Wkts = data[7].get_text().strip()
            BBI = data[8].get_text().strip()
            Ave = data[9].get_text().strip()
            Econ = data[10].get_text().strip()
            SR = data[11].get_text().strip()
            four = data[12].get_text().strip()
            five = data[13].get_text().strip()
            ct = data[14].get_text().strip()
            st = data[15].get_text().strip()

            country_name = country_id_dict[country_id]

            row_data = {'Player': player, 'TimeSpan': span, 'Mat': mat, 'Inns': inns, 'Overs': Overs, 
                        'Mdns': Mdns, 'Runs': Runs, 'Wkts': Wkts, 'BBI': BBI, 'Ave': Ave, 
                        'Econ': Econ, 'SR': SR, '4': four, 
                        '5': five, 'Ct': ct, 'St': st, 'Country': country_name}
            t20I_ball = pd.concat([t20I_ball, pd.DataFrame(row_data, index=[0])], ignore_index=True)
            t20I_ball['Format'] = 'T20I'

In [23]:
t20I_ball

,Player,TimeSpan,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Ct,St,Country,Format
0,Rehan Ahmed,2023-2023,2,2,5.0,0,37,1,1/11,37.00,7.40,30.0,0,0,0,0,England,T20I
1,MM Ali,2014-2023,74,58,138.1,1,1145,42,3/24,27.26,8.28,19.7,0,0,16,0,England,T20I
2,JC Archer,2019-2023,15,15,58.0,1,444,18,4/33,24.66,7.65,19.3,1,0,4,0,England,T20I
3,JM Bairstow,2011-2022,66,-,-,-,-,-,-,-,-,-,-,-,45,1,England,T20I
4,T Banton,2019-2022,14,-,-,-,-,-,-,-,-,-,-,-,9,0,England,T20I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Samiullah Shinwari,2010-2022,65,38,105.4,0,688,28,5/13,24.57,6.51,22.6,1,1,19,0,Afghanistan,T20I
517,Sediqullah Atal,2023-2023,1,-,-,-,-,-,-,-,-,-,-,-,0,0,Afghanistan,T20I
518,Sharafuddin Ashraf,2015-2022,13,12,35.0,1,259,7,3/27,37.00,7.40,30.0,0,0,3,0,Afghanistan,T20I
519,Usman Ghani,2015-2023,35,-,-,-,-,-,-,-,-,-,-,-,15,0,Afghanistan,T20I
520,Zahir Khan,2023-2023,1,1,1.0,0,14,0,-,-,14.00,-,0,0,0,0,Afghanistan,T20I

<h3>Test</h3>

In [18]:
country_id_dict = {2: 'Australia',6: 'India',1: 'England',3: 'South Africa',5: 'New Zealand',7: 'Pakistan',8: 'Sri Lanka',4: 'West Indies',25: 'Bangladesh',40: 'Afghanistan',9: 'Zimbabwe',29: 'Ireland'}

country_ID_list = [1,2,3,4,5,6,7,8,9,20,25,27,28,29,30,32,37,40]

test_ball = pd.DataFrame(columns=['Player','TimeSpan','Mat','Inns','Overs','Mdns','Runs','Wkts',
                                   'BBI','BBM','Ave','Econ','SR','5','10','Ct','St','Country'])

for country_id in country_ID_list:
    url = f'https://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?class=1;current=2;id={country_id};type=team'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find_all('table')[0]
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        data = row.find_all('td')
        if len(data) > 0:
            player = data[0].get_text().strip()
            span = data[1].get_text().strip()
            mat = data[2].get_text().strip()
            inns = data[3].get_text().strip()
            Overs = data[4].get_text().strip()
            Mdns = data[5].get_text().strip()
            Runs = data[6].get_text().strip()
            Wkts = data[7].get_text().strip()
            BBI = data[8].get_text().strip()
            BBM = data[9].get_text().strip()
            Ave = data[10].get_text().strip()
            Econ = data[11].get_text().strip()
            SR = data[12].get_text().strip()
            five = data[13].get_text().strip()
            ten = data[14].get_text().strip()
            ct = data[15].get_text().strip()
            st = data[16].get_text().strip()

            country_name = country_id_dict[country_id]

            row_data = {'Player': player, 'TimeSpan': span, 'Mat': mat, 'Inns': inns, 'Overs': Overs, 
                        'Mdns': Mdns, 'Runs': Runs, 'Wkts': Wkts, 'BBI': BBI, 'BBM': BBM,'Ave': Ave, 
                        'Econ': Econ, 'SR': SR, '5': five, 
                        '10': ten, 'Ct': ct, 'St': st, 'Country': country_name}
            test_ball = pd.concat([test_ball, pd.DataFrame(row_data, index=[0])], ignore_index=True)
            test_ball['Format'] = 'Test'

In [19]:
test_ball

,Player,TimeSpan,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5,10,Ct,St,Country,Format
0,Rehan Ahmed,2022-2022,1,2,36.5,3,137,7,5/48,7/137,19.57,3.71,31.5,1,0,0,0,England,Test
1,MM Ali,2014-2021,64,112,1975.4,278,7149,195,6/53,10/112,36.66,3.61,60.7,5,1,40,0,England,Test
2,JM Anderson,2003-2023,179,333,6382.1,1663,17807,685,7/42,11/71,25.99,2.79,55.9,32,3,104,0,England,Test
3,JM Bairstow,2012-2022,89,-,-,-,-,-,-,-,-,-,-,-,-,210,13,England,Test
4,SW Billings,2022-2022,3,-,-,-,-,-,-,-,-,-,-,-,-,8,0,England,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Taijul Islam,2014-2022,40,70,1822.5,314,5520,166,8/39,11/170,33.25,3.02,65.8,10,1,20,0,Bangladesh,Test
259,Tamim Iqbal,2008-2022,69,5,5.0,0,20,0,-,-,-,4.00,-,0,0,19,0,Bangladesh,Test
260,Taskin Ahmed,2017-2022,12,22,394.1,65,1460,26,4/82,5/128,56.15,3.70,90.9,0,0,1,0,Bangladesh,Test
261,Yasir Ali,2021-2022,6,2,7.0,0,35,0,-,-,-,5.00,-,0,0,5,0,Bangladesh,Test
262,Zakir Hasan,2022-2022,2,-,-,-,-,-,-,-,-,-,-,-,-,0,0,Bangladesh,Test