In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

<h3>ODI</h3>

In [16]:
# assuming you have three dataframes named df1, df2, and df3
combined_batting = pd.concat([odi_bat, t20I_bat, test_bat], ignore_index=True)

In [19]:
combined_batting['Type'] = 'Batting'

In [20]:
combined_batting

,Player,TimeSpan,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Format,Type
0,Rehan Ahmed,2023-2023,1,1,0,2,2,2.00,7,28.57,0,0,0,0,0,England,ODI,Batting
1,MM Ali,2014-2023,129,103,15,2212,128,25.13,2224,99.46,3,6,6,190,76,England,ODI,Batting
2,JC Archer,2019-2023,21,11,6,32,8*,6.40,48,66.66,0,0,2,3,0,England,ODI,Batting
3,JM Bairstow,2011-2022,95,86,8,3634,141*,46.58,3490,104.12,11,15,7,408,89,England,ODI,Batting
4,SW Billings,2015-2022,28,23,2,702,118,33.42,771,91.05,1,5,1,74,8,England,ODI,Batting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,Taijul Islam,2014-2022,40,68,9,533,39*,9.03,1475,36.13,0,0,10,63,2,Bangladesh,Test,Batting
1283,Tamim Iqbal,2008-2022,69,132,2,5082,206,39.09,8751,58.07,10,31,11,650,40,Bangladesh,Test,Batting
1284,Taskin Ahmed,2017-2022,12,21,3,219,75,12.16,474,46.20,0,1,2,22,3,Bangladesh,Test,Batting
1285,Yasir Ali,2021-2022,6,11,1,205,55,20.50,444,46.17,0,1,1,26,0,Bangladesh,Test,Batting
1286,Zakir Hasan,2022-2022,2,4,0,186,100,46.50,438,42.46,1,1,0,22,1,Bangladesh,Test,Batting

In [21]:
# export the combined DataFrame to a CSV file
combined_batting.to_csv('combined_batting.csv', index=False)

In [4]:
country_id_dict = {2: 'Australia',6: 'India',5: 'New Zealand',1: 'England',7: 'Pakistan',3: 'South Africa',25: 'Bangladesh',8: 'Sri Lanka',4: 'West Indies',40: 'Afghanistan',29: 'Ireland',30: 'Scotland',9: 'Zimbabwe', 15: 'Netherlands',32: 'Nepal',  37: 'Oman',28: 'Namibia',11: 'United States',27: 'United Arab Emirates', 20: 'Papua New Guinea'}

country_ID_list = [1,2,3,4,5,6,7,8,9,20,25,27,28,29,30,32,37,40]

odi_bat = pd.DataFrame(columns=['Player','TimeSpan','Mat','Inns','NO','Runs','HS','Ave','BF','SR','100','50','0','4s','6s','Country'])

for country_id in country_ID_list:
    url = f'https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=2;current=2;id={country_id};type=team'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find_all('table')[0]
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        data = row.find_all('td')
        if len(data) > 0:
            player = data[0].get_text().strip()
            span = data[1].get_text().strip()
            mat = data[2].get_text().strip()
            inns = data[3].get_text().strip()
            no = data[4].get_text().strip()
            runs = data[5].get_text().strip()
            hs = data[6].get_text().strip()
            ave = data[7].get_text().strip()
            bf = data[8].get_text().strip()
            sr = data[9].get_text().strip()
            hundreds = data[10].get_text().strip()
            fifties = data[11].get_text().strip()
            zeros = data[12].get_text().strip()
            fours = data[13].get_text().strip()
            sixes = data[14].get_text().strip()
            country_name = country_id_dict[country_id]
            
            row_data = {'Player': player, 'TimeSpan': span, 'Mat': mat, 'Inns': inns, 'NO': no, 'Runs': runs, 'HS': hs, 'Ave': ave, 'BF': bf, 'SR': sr, '100': hundreds, '50': fifties, '0': zeros, '4s': fours, '6s': sixes, 'Country': country_name}
            odi_bat = pd.concat([odi_bat, pd.DataFrame(row_data, index=[0])], ignore_index=True)
            odi_bat['Format'] = 'ODI'

In [11]:
odi_bat

,Player,TimeSpan,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Format
0,Rehan Ahmed,2023-2023,1,1,0,2,2,2.00,7,28.57,0,0,0,0,0,England,ODI
1,MM Ali,2014-2023,129,103,15,2212,128,25.13,2224,99.46,3,6,6,190,76,England,ODI
2,JC Archer,2019-2023,21,11,6,32,8*,6.40,48,66.66,0,0,2,3,0,England,ODI
3,JM Bairstow,2011-2022,95,86,8,3634,141*,46.58,3490,104.12,11,15,7,408,89,England,ODI
4,SW Billings,2015-2022,28,23,2,702,118,33.42,771,91.05,1,5,1,74,8,England,ODI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Riaz Hassan,2022-2022,3,3,0,86,50,28.66,126,68.25,0,1,0,7,2,Afghanistan,ODI
498,Shahidullah,2022-2022,1,1,0,1,1,1.00,3,33.33,0,0,0,0,0,Afghanistan,ODI
499,Sharafuddin Ashraf,2014-2022,19,11,4,66,21,9.42,100,66.00,0,0,2,3,2,Afghanistan,ODI
500,Usman Ghani,2014-2022,17,17,0,435,118,25.58,578,75.25,1,2,3,39,10,Afghanistan,ODI
501,Yamin Ahmadzai,2015-2022,9,5,2,9,5,3.00,32,28.12,0,0,1,0,0,Afghanistan,ODI

<h3>T20I</h3>

In [12]:
country_id_dict = {2: 'Australia',6: 'India',5: 'New Zealand',1: 'England',7: 'Pakistan',3: 'South Africa',25: 'Bangladesh',8: 'Sri Lanka',4: 'West Indies',40: 'Afghanistan',29: 'Ireland',30: 'Scotland',9: 'Zimbabwe', 15: 'Netherlands',32: 'Nepal',  37: 'Oman',28: 'Namibia',11: 'United States',27: 'United Arab Emirates', 20: 'Papua New Guinea'}

country_ID_list = [1,2,3,4,5,6,7,8,9,20,25,27,28,29,30,32,37,40]

t20I_bat = pd.DataFrame(columns=['Player','TimeSpan','Mat','Inns','NO','Runs','HS','Ave','BF','SR','100','50','0','4s','6s','Country'])

for country_id in country_ID_list:
    url = f'https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;current=2;id={country_id};type=team'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find_all('table')[0]
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        data = row.find_all('td')
        if len(data) > 0:
            player = data[0].get_text().strip()
            span = data[1].get_text().strip()
            mat = data[2].get_text().strip()
            inns = data[3].get_text().strip()
            no = data[4].get_text().strip()
            runs = data[5].get_text().strip()
            hs = data[6].get_text().strip()
            ave = data[7].get_text().strip()
            bf = data[8].get_text().strip()
            sr = data[9].get_text().strip()
            hundreds = data[10].get_text().strip()
            fifties = data[11].get_text().strip()
            zeros = data[12].get_text().strip()
            fours = data[13].get_text().strip()
            sixes = data[14].get_text().strip()
            country_name = country_id_dict[country_id]
            
            row_data = {'Player': player, 'TimeSpan': span, 'Mat': mat, 'Inns': inns, 'NO': no, 'Runs': runs, 'HS': hs, 'Ave': ave, 'BF': bf, 'SR': sr, '100': hundreds, '50': fifties, '0': zeros, '4s': fours, '6s': sixes, 'Country': country_name}
            t20I_bat = pd.concat([t20I_bat, pd.DataFrame(row_data, index=[0])], ignore_index=True)
            t20I_bat['Format'] = 'T20I'

In [13]:
t20I_bat

,Player,TimeSpan,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Format
0,Rehan Ahmed,2023-2023,2,1,0,11,11,11.00,11,100.00,0,0,0,2,0,England,T20I
1,MM Ali,2014-2023,74,64,16,1076,72*,22.41,750,143.46,0,7,9,83,57,England,T20I
2,JC Archer,2019-2023,15,3,1,19,18*,9.50,11,172.72,0,0,1,2,1,England,T20I
3,JM Bairstow,2011-2022,66,60,12,1337,90,27.85,980,136.42,0,8,5,120,57,England,T20I
4,T Banton,2019-2022,14,14,0,327,73,23.35,221,147.96,0,2,0,29,17,England,T20I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Samiullah Shinwari,2010-2022,65,56,10,1013,61,22.02,858,118.06,0,2,2,76,37,Afghanistan,T20I
518,Sediqullah Atal,2023-2023,1,1,0,11,11,11.00,19,57.89,0,0,0,0,1,Afghanistan,T20I
519,Sharafuddin Ashraf,2015-2022,13,8,3,35,18,7.00,40,87.50,0,0,1,2,1,Afghanistan,T20I
520,Usman Ghani,2015-2023,35,34,3,786,73,25.35,733,107.23,0,4,0,76,21,Afghanistan,T20I
521,Zahir Khan,2023-2023,1,-,-,-,-,-,-,-,-,-,-,-,-,Afghanistan,T20I

<h3>TEST</h3>

In [14]:
country_id_dict = {2: 'Australia',6: 'India',1: 'England',3: 'South Africa',5: 'New Zealand',7: 'Pakistan',8: 'Sri Lanka',4: 'West Indies',25: 'Bangladesh',40: 'Afghanistan',9: 'Zimbabwe',29: 'Ireland'}

country_ID_list = [1,2,3,4,5,6,7,8,9,20,25,27,28,29,30,32,37,40]

test_bat = pd.DataFrame(columns=['Player','TimeSpan','Mat','Inns','NO','Runs','HS','Ave','BF','SR','100','50','0','4s','6s','Country'])

for country_id in country_ID_list:
    url = f'https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=1;current=2;id={country_id};type=team'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    table = soup.find_all('table')[0]
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        data = row.find_all('td')
        if len(data) > 0:
            player = data[0].get_text().strip()
            span = data[1].get_text().strip()
            mat = data[2].get_text().strip()
            inns = data[3].get_text().strip()
            no = data[4].get_text().strip()
            runs = data[5].get_text().strip()
            hs = data[6].get_text().strip()
            ave = data[7].get_text().strip()
            bf = data[8].get_text().strip()
            sr = data[9].get_text().strip()
            hundreds = data[10].get_text().strip()
            fifties = data[11].get_text().strip()
            zeros = data[12].get_text().strip()
            fours = data[13].get_text().strip()
            sixes = data[14].get_text().strip()
            country_name = country_id_dict[country_id]
            
            row_data = {'Player': player, 'TimeSpan': span, 'Mat': mat, 'Inns': inns, 'NO': no, 'Runs': runs, 'HS': hs, 'Ave': ave, 'BF': bf, 'SR': sr, '100': hundreds, '50': fifties, '0': zeros, '4s': fours, '6s': sixes, 'Country': country_name}
            test_bat = pd.concat([test_bat, pd.DataFrame(row_data, index=[0])], ignore_index=True)
            test_bat['Format'] = 'Test'

In [15]:
test_bat

,Player,TimeSpan,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Format
0,Rehan Ahmed,2022-2022,1,2,0,11,10,5.50,11,100.00,0,0,0,2,0,England,Test
1,MM Ali,2014-2021,64,111,8,2914,155*,28.29,5697,51.14,5,14,15,355,30,England,Test
2,JM Anderson,2003-2023,179,250,107,1312,81,9.17,3300,39.75,0,1,31,177,3,England,Test
3,JM Bairstow,2012-2022,89,159,11,5482,167*,37.04,9520,57.58,12,23,16,648,46,England,Test
4,SW Billings,2022-2022,3,3,0,66,36,22.00,114,57.89,0,0,0,10,0,England,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Taijul Islam,2014-2022,40,68,9,533,39*,9.03,1475,36.13,0,0,10,63,2,Bangladesh,Test
259,Tamim Iqbal,2008-2022,69,132,2,5082,206,39.09,8751,58.07,10,31,11,650,40,Bangladesh,Test
260,Taskin Ahmed,2017-2022,12,21,3,219,75,12.16,474,46.20,0,1,2,22,3,Bangladesh,Test
261,Yasir Ali,2021-2022,6,11,1,205,55,20.50,444,46.17,0,1,1,26,0,Bangladesh,Test
262,Zakir Hasan,2022-2022,2,4,0,186,100,46.50,438,42.46,1,1,0,22,1,Bangladesh,Test